<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .button {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }


</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1><span>Image Area Calculator</span></h1>

</div>

<div class="content" role="main">
  <button class="button" mat-raised-button
           (click)="open(content)">
    Add Image
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Image Selector
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

			<span aria-hidden="true">
				×
			</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="image">
          Image
        </label>
        <div class="input-group">
          <input id="image"
                 class="form-control"
                 placeholder="Image">

          <div class="input-group-append">
            <button class="button" mat-raised-button>
              Find Image
            </button>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="image">
          Number of Points
        </label>
        <div class="input-group">
          <input id="image"
                 class="form-control"
                 placeholder="n = 1000">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="button" mat-raised-button
            (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>
